*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'DM Serif Display', serif;
	font-size: 14px;
	letter-spacing: 1px;
}
body{
	background-color: lightgoldenrodyellow;
}
h1{
	font-size: 175%;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
div > .content-wrapper1 , .content-wrapper2 , .content-wrapper3 {
	background-color: navajowhite;
	float: left;
	width: 29.33%;
	border: 1px solid black;
	margin: 2%;
}
div > #section-title{
	position: relative;
	top: -1px;
	margin-left: 1px;
	left: 69%;
	width: 31%;
	font-size: 125%;
	text-align: center;
	border: 1px solid black;
	padding-bottom: 7px;
	margin-bottom: 12px;
}
div > .content{
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 15px;
}
div > .content-wrapper1 > #section-title{
	background: #d0f4ea;
}
div > .content-wrapper2 > #section-title{
	background: #B1CC74;
}
div > .content-wrapper3 > #section-title{
	background: #829399;
}

	/* Responsive Design */
@media (min-width: 768px) and (max-width: 991px){
	div > .content-wrapper1 , .content-wrapper2 , .content-wrapper3{
	float: none;
	}
	div > .content-wrapper1 , .content-wrapper2{
		float: left;
		width: 45%;
		margin: 2.5%;
	}
	div > .content-wrapper3{
		clear: left;
		width: 95%;
		margin: 2.5%;
	}
}
@media (max-width: 767px){
	div > .content-wrapper1 , .content-wrapper2 , .content-wrapper3{
	float: none;
	width: 90%;
	margin: 5%;
	}
}